<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <style>
        body{
            background-color: black;
            color: white;
            align-items: center;
            justify-content: center;
            text-align: center;
            align-content: center;
        }
        h1{
            font-size: 200px;
        }
        h2{
            font-size: 100px;
        }
        button{
            border: 1px rgba(0, 0, 0, 0.904);
            font-size: large;
            font-weight: 200;
        }
    </style>
</head>
<body>
    <h2>Here are the Total number of userrr</h2>
    <h1><%= count  %></h1>
    <a href="http://localhost:8080/user/new"><button>click here to join us</button></a>
</body>
</html>